.copyright
	p(style="text-align: center")
		a(href=url_for("/blog") style="text-decoration: underline") See other posts
		span(style="display: inline-block; padding: 0 10px")
			!= " | "
		a(href="https://twitter.com/_rchaves_" style="text-decoration: underline") Follow me on Twitter