doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap
            header
                a.home-link(href="/")
                    h1.title
                        img.profile-pic(src=url_for("img/profile-pic.png"), width="64")
                        = config.title
                include nav.pug
            main.container
                block container
            footer
                block copyright
                include ga.pug
