doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap
            header
                a.home-link(href="/")
                    h1.title
                        img(src=url_for("img/profile-pic.png"), width="64", style="vertical-align: middle; padding-right: 10px")
                        = config.title
                include nav.pug
            main.container
                block container
            footer
                block pagination
                block copyright
                include ga.pug
