extends partial/layout.pug

block container
    p My name is Rogério, welcome to my site, here you can find links to my work and read my #[a(href=url_for("/blog")) blog]

    h2 Open-Source Apps
    p
        a(href=url_for("https://oltwitter.rchaves.app/")) Good Ol'Twitter
    p
        a(href="https://feedless.social") Feedless
    p
        a(href="https://github.com/rogeriochaves/codesearch") Codesearch
    p
        a(href="https://cataloger.rchaves.app/") Cataloger
    p
        a(href="https://forecaster.rchaves.app/") Forecaster
    p
        a(href="https://rogeriochaves.github.io/unbreakablejs/") Unbreakable.js
    p
        a(href="https://rogeriochaves.github.io/rubber/") Rubber - Evaluate LaTeX code
    p
        a(href="https://www.arcondicionadoonline.com") arcondicionadoonline.com

    h2 Open-Source Libraries
    p
        a(href='https://github.com/rogeriochaves/unit') Unit - Universal Test Generator
    p
        a(href='https://github.com/rogeriochaves/spades') Elm Spades
    p
        a(href='https://github.com/rogeriochaves/simple-platform') simple-platform
    p
        a(href='https://github.com/rogeriochaves/npm-force-resolutions') npm-force-resolutions
    p
        a(href='https://github.com/rogeriochaves/perl-tdd-runner') Perl TDD runner
    p
        a(href='https://github.com/rogeriochaves/log-filter') log-filter
    p
        a(href='https://github.com/rogeriochaves/remote-retrospectives') remote-retrospectives

    h2 Links
    p
        a(href="https://twitter.com/_rchaves_") Twitter
    p
        a(href="https://github.com/rogeriochaves/") GitHub




block copyright
    include partial/copyright.pug
